<!-- <p>first-comp works!</p>
<app-child-comp namegiven = "gautam" buttonName="Click Me!"></app-child-comp>

<app-child-comp (data)="handleData($event)"></app-child-comp>
<h1>{{d}}</h1> -->

<!-- <h1 [ngClass]="{
    classA : applyClass,
    classB : !applyClass
}">Gautam Saraswat</h1>

<button (click)="shouldApply()"> Apply Changes</button>
<h1 [ngStyle]="{color : 'red'}">Gautam Saraswat</h1>

@if(applyClass){
<h1>If true</h1>
} @else{
<h1>else false</h1>
}

<ul>
    @for (item of arr; track item){
    <li>{{item}}</li>
    } @empty{
    <h1>Nothing</h1>
    }
</ul>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        @for (item of table; track item) {
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
        </tr>
        } @empty {
        <tr>
            <td colspan="2">Nothing</td>
        </tr>
        }
    </tbody>
</table> -->

<!-- <app-child-comp>
    <h1>hello</h1>
    <h1>qwerty</h1>
</app-child-comp> -->

<h1>{{service.names}}</h1>
<!-- <app-child-comp></app-child-comp> -->

<h1>{{test.namesArr}}</h1>
<button (click)="addName()" >Add Name</button>