/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9eef3;
    font-family: Arial, sans-serif;
}

/* CARD */
.card {
    width: 350px;
    background: #fff;
    padding: 40px 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* IMAGE WITH GRADIENT BORDER */
.image-wrapper {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    background: linear-gradient(135deg, #6a5acd, #8a2be2);
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* NAME */
.card h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

/* DESCRIPTION */
.description {
    font-size: 14px;
    color: #777;
    margin: 15px 0 20px;
    line-height: 1.6;
}

/* LINE */
hr {
    border: none;
    height: 1px;
    background: #eee;
    margin: 20px 0;
}

/* STATS */
.stats {
    display: flex;
    justify-content: space-between;
}

.stats h3 {
    color: #6a5acd;
    font-size: 20px;
}

.stats p {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}